<title>LIYANG</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/javascripts/bootstrap.min.css">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/highlight.js/styles/default.css">
<link rel="stylesheet" href="/javascripts/jquery-ui.css">
<link rel="stylesheet" href="/stylesheets/index.css" >

<script src="/highlight.js/lib/highlight.js"></script>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery-ui.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>