<div class="container-fluid">
  <div class="row header">
    <div class="col-md-12">
      <h1 class="site-name">
        <a href="/" title="SiteName">逸天流云</a>
      </h1>
    </div>
    <div class="col-md-12">
      <h2 class="site-info">慢清尘修道所在......</h2>
    </div>
    <div class="col-md-12">
      <div class="nav-menu">
        <ul class="nav nav-pills normal">
          <li><a href="#resume">个人介绍</a></li>
          <li><a href="/upload">上传图片</a></li>
          <li><a href="/create">发布文章</a></li>
          <li><a href="/article">首页</a></li>
        </ul>
        <select class="nav nav-pills dropdown form-control">
          <option value="/article">首页</option>
          <option value="/create">发布文章</option>
          <option value="/upload">上传图片</option>
          <option value="#resume">个人介绍</option>
        </select>
      </div>
    </div>
  </div>
</div>